body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header,
footer {
  padding: 1em;
  background-color: #333;
  color: white;
  text-align: center;
}

header nav {
  margin-top: 1em;
}

header nav button {
  margin: 0.4em;
  padding: 0.8em;
  background-color: #0066ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

header nav button:hover {
  background-color: #0055cc;
}

input,
button {
  margin: 0.4em;
  padding: 0.8em;
  font-size: 1em;
}

button {
  cursor: pointer;
  background-color: #0066ff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0055cc;
}
